// <-----THIS IS THE COMMENT SECTION----> //
.comment {
  background-color: $bg-color-white;
  margin: 0 1rem 0 1rem;
  &__title {
    font-size: 1.3rem;
  }
  &__name-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.15rem solid $bg-color-mercury;
  }
  &__image {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    --text {
      color: $font-color-silver;
      font-size: 0.75rem;
      line-height: 1.25rem;
      margin: 0 0 0.5rem 0;
    }
  }
  &__text-container {
    --bottom {
    }
  }
  &__button {
  }
  &__default-comment {
  }
}
