.footer {
  background-color: $bg-color-dark-grey;
  color: $font-color-white;
  padding: 1rem;
  &__icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  &__top {
    display: none;
  }
  &__bottom {
    display: block;
  }

  &__title {
    margin: 0.3rem 0rem 1rem 0;
    font-size: 1.5rem;
    font-weight: normal;
  }
  &__name {
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.2rem;
  }
  &__location {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $font-color-mercury;
  }
  &__email {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $font-color-mercury;
    text-decoration: none;
  }

  &__copyright {
    font-size: 0.75rem;
    color: $font-color-mercury;
  }
}

// <-------------TABLET----------------> //

@include tablet {
  .footer {
    padding: 2rem;
    &__title {
      font-size: 2rem;
      font-weight: bold;
    }
    &__name {
      font-size: 1rem;
      padding-bottom: 0.8rem;
    }
    &__location {
      font-size: 0.95rem;
      padding-bottom: 0.8rem;
    }
    &__email {
      font-size: 0.95rem;
      padding-bottom: 1rem;
    }
    &__copyright {
      font-size: 0.85rem;
    }
    &__row {
      &--one {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        &--logo {
          flex-grow: 1;
        }
        &--column {
          width: 28%;
        }
      }
    }
    &__logo {
      float: right;
    }
    &__row {
      &--two {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        &--column {
          width: 28%;
        }
      }
    }
    &__top {
      display: block;
    }
    &__bottom {
      display: none;
    }
  }
}

// <-------------DESKTOP----------------> //

@include desktop {
  .footer {
    &__row {
      &--one {
        margin: 0 7rem 0 7rem;
      }
      &--two {
        margin: 0 7rem 0 7rem;
      }
      &--three {
        margin: 0 7rem 0 7rem;
      }
    }
  }
}
