.gallery {
  background-color: $bg-color-light-grey;
  padding: 1rem;

  &__heading {
    font-size: 1.4rem;
    margin: 0;
    padding-bottom: 1rem;
    color: $font-color-dark-grey;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  &__image {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
  }
  &__image:hover {
    filter: grayscale(0%);
    box-shadow: 0.15rem 0.15rem 0.9rem;
  }
}

// <-------------TABLET----------------> //

@include tablet {
  .gallery {
    padding: 2rem;
    &__heading {
      font-size: 2.25rem;
      margin: 0 0 1.5rem 0;
      padding-top: 1rem;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      // padding: 0 1.5rem 0 1.5rem;
    }
    &__image {
      height: 16.4vw;
      width: 31.5%;
    }
  }
}

// <-------------DESKTOP----------------> //

@include desktop {
  .gallery {
    &__heading {
      font-size: 2.25rem;
      margin: 0 7rem 0 7rem;
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 7rem 0 7rem;
    }
    &__image {
      margin-bottom: 0.5rem;
    }
  }
}
