.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 17rem;

  &__album {
    font-size: 0.9rem;
    color: $font-color-white;
    padding-left: 1rem;
    margin: 2rem 0 0 0;
  }

  &__title {
    color: $font-color-white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
  }
  &__music-container {
    margin: 0;
  }
  &__music-player {
    height: 6rem;
    width: 18rem;
    padding-left: 1rem;
  }
}

// <-------------TABLET----------------> //

@include tablet {
  .hero {
    height: 34rem;
    &__album {
      margin-top: 3.7rem;
      font-size: 1.6rem;
    }
    &__title {
      font-size: 4rem;
      padding-left: 2.5rem;
      margin-top: 1rem;
    }
    &__album {
      padding-left: 2.5rem;
    }
    &__music-player {
      padding-left: 2.5rem;
      height: 8.8rem;
      width: 26rem;
    }
  }
}

// <-------------DESKTOP----------------> //

@include desktop {
  .hero {
    height: 44rem;
    &__title {
      padding-left: 7rem;
    }
    &__album {
      font-size: 1.8rem;
      padding-left: 7rem;
      margin-top: 0;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 1rem;
    }
    &__music-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__music-player {
      padding-left: 7rem;
    }
  }
}
