$bg-color-dark-grey: #323232;
$bg-color-light-grey: #fafafa;
$bg-color-white: #ffffff;
$bg-color-mercury: #e1e1e1;
$font-color-dark-grey: #323232;
$font-color-silver: #afafaf;
$font-color-white: #ffffff;
$font-color-mercury: #e1e1e1;
$font-color-black: #000000;
