@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

// <-----THIS IS THE MOBILE SECTION-----> //

.main-nav {
  background-color: $bg-color-dark-grey;
  color: $font-color-silver;
  text-align: center;

  &__logo {
    width: 7rem;
    padding: 1rem 0;
  }

  &__list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  &__item {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 0.9rem;

    &:hover {
      border-bottom: 2px solid $font-color-white;
      color: $font-color-white;
      padding: 0;
    }
  }
}

// <-----THIS IS THE HERO SECTION-----> //

.hero {
  background-image: url("/assets/images/hero-bio.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 11.5rem;

  &__title {
    color: $font-color-white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
  }
}

// <-----THIS IS THE MUSICIANS SECTION-----> //

.musician {
  margin: 1rem;

  &__heading {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 700;
  }
  &__image {
    background-size: cover;
    display: flex;
    align-items: center;
    height: 9.8rem;
    width: 100%;
  }
  &__quote {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  &__paragraph-title {
    font-size: 0.9rem;
  }
  &__paragraph {
    font-size: 0.8rem;
    color: $font-color-dark-grey;
    &--left {
      padding: 0;
    }
    &--right {
      padding-right: 1rem;
    }
  }
}

// <-----THIS IS PHOTO GALLERY SECTION-----> //

.gallery {
  background-color: $bg-color-light-grey;

  &__heading-text {
    font-size: 2.7rem;
    margin: 1rem 0 1rem 0;
    font-weight: 700;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__image {
    width: 100%;
  }
}

// <-----THIS IS THE FOOTER SECTION-----> //

.footer {
  background-color: $bg-color-dark-grey;
  color: $font-color-white;
  padding-bottom: 1rem;
  padding-top: 1.5rem;

  &__filler-div {
    display: none;
  }
  &__title {
    font-size: 2.5rem;
  }

  &__logo {
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: 1.7rem;
    font-size: 2.5rem;
    font-weight: lighter;
    text-transform: uppercase;

    &--top {
      display: none;
      text-align: right;
    }
    &--bottom {
      display: block;
    }
  }
}

// <-----THIS IS THE MEDIA SECTION-----> //
// <-------------TABLET----------------> //

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: end;
    &__logo {
      padding: 1.4rem 0 1.4rem 2.3rem;
    }
    &__item {
      margin-left: 4rem;
      padding-bottom: 1.7rem;
    }
  }

  .hero {
    height: 28.5rem;
    &__title {
      font-size: 3.4rem;
      padding-left: 2.5rem;
    }
  }

  .musician {
    &__heading {
      font-size: 2rem;
      margin: 2.7rem 0 2rem 1.8rem;
    }
    &__image {
      height: 19.4rem;
      width: 36rem;
      margin-left: auto;
      margin-right: auto;
    }
    &__paragraph {
      display: flex;
      &--left {
        padding: 0 1.5rem 0 4rem;
      }
      &--right {
        padding: 0 4rem 0 1.5rem;
      }
    }
  }

  .gallery {
    background-color: $bg-color-light-grey;

    &__image {
      width: 100%;
    }
    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 10rem;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625rem;

    &__logo {
      margin-right: 2rem;
      &--top {
        display: block;
      }
      &--bottom {
        display: none;
      }
    }
  }
}

// // <-------------DESKTOP----------------> //

@media (min-width: 1280px) {
  .main-nav {
    &__logo {
      padding-left: 8rem;
    }
    &__item {
      &--margin {
        margin-left: 1.9rem;
      }
    }
  }

  .hero {
    height: 39rem;
    &__title {
      padding-left: 7rem;
    }
  }

  .musician {
    &__image {
      height: 35rem;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;

    .footer__filler-div {
      display: block;
    }
    &__logo {
      margin-right: 5rem;
      font-size: 1.7rem;
    }
  }
}
