@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

.main-nav {
  background-color: #323232;
  color: #e1e1e1;
  text-align: center;
}
.main-nav__logo {
  width: 7rem;
  padding: 1rem 0;
}
.main-nav__list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.main-nav__item {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
.main-nav__item:hover {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  padding: 0;
}

.hero {
  background-image: url("/assets/images/hero-bio.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 11.5rem;
}
.hero__title {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 1rem;
}

.musician {
  padding: 1rem;
}
.musician__heading {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.8rem;
  font-weight: 700;
  color: #323232;
}
.musician__container-image {
  height: 45.5vw;
  margin-bottom: 1.5rem;
}
.musician__image {
  height: 100%;
  width: 100%;
}
.musician__quote {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #000000;
  font-weight: bold;
}
.musician__name {
  color: #323232;
}
.musician__paragraph-title {
  font-size: 0.9rem;
  color: #000000;
}
.musician__paragraph {
  font-size: 0.8rem;
  color: #323232;
}
.musician__paragraph--left {
  margin-right: 1rem;
}
.musician__paragraph--right {
  margin-right: 0;
}

.gallery {
  background-color: #fafafa;
  padding: 1rem;
}
.gallery__heading {
  font-size: 1.4rem;
  margin: 0;
  padding-bottom: 1rem;
  color: #323232;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.gallery__image {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}
.gallery__image:hover {
  filter: grayscale(0%);
  box-shadow: 0.15rem 0.15rem 0.9rem;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer__top {
  display: none;
}
.footer__bottom {
  display: block;
}
.footer__title {
  margin: 0.3rem 0rem 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}
.footer__name {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.2rem;
}
.footer__location {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #e1e1e1;
}
.footer__email {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #e1e1e1;
  text-decoration: none;
}
.footer__copyright {
  font-size: 0.75rem;
  color: #e1e1e1;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: end;
  }
  .main-nav__logo {
    padding: 1.4rem 0 1.4rem 2.3rem;
  }
  .main-nav__item {
    margin-left: 4rem;
    padding-bottom: 1.7rem;
  }
  .hero {
    height: 28.5rem;
  }
  .hero__title {
    font-size: 3.4rem;
    padding-left: 2.5rem;
  }
  .musician {
    padding: 2rem;
  }
  .musician__heading {
    font-size: 2rem;
    margin: 2.7rem 0 2rem 0;
  }
  .musician__container-image {
    height: 39.5vw;
    margin: 0 5rem 2rem 5rem;
  }
  .musician__quote {
    margin: 0 5rem 0.8rem 5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .musician__name {
    font-size: 1rem;
  }
  .musician__paragraph-title {
    margin: 3rem 5rem 0.5rem 5rem;
    font-size: 1.5rem;
  }
  .musician__paragraph {
    display: flex;
    margin: 0 5rem 1rem 5rem;
    line-height: 1.4rem;
  }
  .gallery {
    padding: 2rem;
  }
  .gallery__heading {
    font-size: 2.25rem;
    margin: 0 0 1.5rem 0;
    padding-top: 1rem;
  }
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .gallery__image {
    height: 16.4vw;
    width: 31.5%;
  }
  .footer {
    padding: 2rem;
  }
  .footer__title {
    font-size: 2rem;
    font-weight: bold;
  }
  .footer__name {
    font-size: 1rem;
    padding-bottom: 0.8rem;
  }
  .footer__location {
    font-size: 0.95rem;
    padding-bottom: 0.8rem;
  }
  .footer__email {
    font-size: 0.95rem;
    padding-bottom: 1rem;
  }
  .footer__copyright {
    font-size: 0.85rem;
  }
  .footer__row-one {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .footer__row-one--logo {
    flex-grow: 1;
  }
  .footer__row-one--column {
    width: 28%;
  }
  .footer__logo {
    float: right;
  }
  .footer__row-two {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .footer__row-two--column {
    width: 28%;
  }
  .footer__top {
    display: block;
  }
  .footer__bottom {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__logo {
    padding-left: 8rem;
  }
  .main-nav__item--margin {
    margin-left: 1.9rem;
  }
  .hero {
    height: 39rem;
  }
  .hero__title {
    padding-left: 7rem;
  }
  .musician__heading {
    margin-left: 7rem;
  }
  .musician__container-image {
    height: 31.25vw;
    margin: 0 12rem 2rem 12rem;
  }
  .musician__quote {
    margin: 0 12rem 1rem 12rem;
    padding-right: 10.5rem;
  }
  .musician__paragraph-title {
    margin: 3rem 12rem 0.5rem 12rem;
  }
  .musician__paragraph {
    font-size: 0.9rem;
    margin: 0 12rem 1rem 12rem;
  }
  .gallery__heading {
    font-size: 2.25rem;
    margin: 0 7rem 0 7rem;
  }
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 7rem 0 7rem;
  }
  .gallery__image {
    margin-bottom: 0.5rem;
  }
  .footer__row-one {
    margin: 0 7rem 0 7rem;
  }
  .footer__row-two {
    margin: 0 7rem 0 7rem;
  }
  .footer__row-three {
    margin: 0 7rem 0 7rem;
  }
}/*# sourceMappingURL=bio.css.map */