@font-face {
  font-family: "AvenirNext LT Pro Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

.main-nav {
  background-color: #323232;
  color: #afafaf;
  text-align: center;
}
.main-nav__logo {
  width: 7rem;
  padding: 1rem 0;
}
.main-nav__list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.main-nav__item {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
.main-nav__item:hover {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  padding: 0;
}

.hero {
  background-image: url("/assets/images/hero-bio.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 11.5rem;
}
.hero__title {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 1rem;
}

.musician {
  margin: 1rem;
}
.musician__heading {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.8rem;
  font-weight: 700;
}
.musician__image {
  background-size: cover;
  display: flex;
  align-items: center;
  height: 9.8rem;
  width: 100%;
}
.musician__quote {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.musician__paragraph-title {
  font-size: 0.9rem;
}
.musician__paragraph {
  font-size: 0.8rem;
  color: #323232;
}
.musician__paragraph--left {
  padding: 0;
}
.musician__paragraph--right {
  padding-right: 1rem;
}

.gallery {
  background-color: #fafafa;
}
.gallery__heading-text {
  font-size: 2.7rem;
  margin: 1rem 0 1rem 0;
  font-weight: 700;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gallery__image {
  width: 100%;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
.footer__filler-div {
  display: none;
}
.footer__title {
  font-size: 2.5rem;
}
.footer__logo {
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1.7rem;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.footer__logo--top {
  display: none;
  text-align: right;
}
.footer__logo--bottom {
  display: block;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: end;
  }
  .main-nav__logo {
    padding: 1.4rem 0 1.4rem 2.3rem;
  }
  .main-nav__item {
    margin-left: 4rem;
    padding-bottom: 1.7rem;
  }
  .hero {
    height: 28.5rem;
  }
  .hero__title {
    font-size: 3.4rem;
    padding-left: 2.5rem;
  }
  .musician__heading {
    font-size: 2rem;
    margin: 2.7rem 0 2rem 1.8rem;
  }
  .musician__image {
    height: 19.4rem;
    width: 36rem;
    margin-left: auto;
    margin-right: auto;
  }
  .musician__paragraph {
    display: flex;
  }
  .musician__paragraph--left {
    padding: 0 1.5rem 0 4rem;
  }
  .musician__paragraph--right {
    padding: 0 4rem 0 1.5rem;
  }
  .gallery {
    background-color: #fafafa;
  }
  .gallery__image {
    width: 100%;
  }
  .gallery__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 10rem;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625rem;
  }
  .footer__logo {
    margin-right: 2rem;
  }
  .footer__logo--top {
    display: block;
  }
  .footer__logo--bottom {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__logo {
    padding-left: 8rem;
  }
  .main-nav__item--margin {
    margin-left: 1.9rem;
  }
  .hero {
    height: 39rem;
  }
  .hero__title {
    padding-left: 7rem;
  }
  .musician__image {
    height: 35rem;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
  }
  .footer .footer__filler-div {
    display: block;
  }
  .footer__logo {
    margin-right: 5rem;
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=bio.css.map */