@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

.main-nav {
  background-color: #323232;
  color: #e1e1e1;
  text-align: center;
}
.main-nav__logo {
  width: 7rem;
  padding: 1rem 0;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.main-nav__item {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  list-style-type: none;
  color: #e1e1e1;
}
.main-nav__item:hover {
  border-bottom: 0.2rem solid #ffffff;
  color: #ffffff;
}
.main-nav__item--active {
  border-bottom: 0.2rem solid #ffffff;
  color: #ffffff;
}

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 17rem;
}
.hero__album {
  font-size: 1.45rem;
  color: #ffffff;
  padding-left: 1rem;
  margin: 2rem 0 0 0;
}
.hero__title {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 1rem;
}
.hero__music-player {
  height: 6rem;
  width: 18rem;
  padding-left: 1rem;
}

.ticket {
  margin: 1rem;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer__top {
  display: none;
}
.footer__bottom {
  display: block;
}
.footer__title {
  margin: 0.3rem 0rem 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}
.footer__name {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.2rem;
}
.footer__location {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #e1e1e1;
}
.footer__email {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #e1e1e1;
  text-decoration: none;
}
.footer__copyright {
  font-size: 0.75rem;
  color: #e1e1e1;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: end;
  }
  .main-nav__logo {
    padding: 1.4rem 0 1.4rem 2.3rem;
  }
  .main-nav__item {
    margin-left: 4rem;
    padding-bottom: 1.7rem;
  }
  .hero {
    height: 30.5rem;
  }
  .hero__title {
    font-size: 3.4rem;
    padding-left: 2.5rem;
  }
  .hero__album {
    padding-left: 2.5rem;
  }
  .hero__music-player {
    padding-left: 2.5rem;
    height: 8.8rem;
    width: 26rem;
  }
  .footer {
    padding: 2rem;
  }
  .footer__title {
    font-size: 2rem;
    font-weight: bold;
  }
  .footer__name {
    font-size: 1rem;
    padding-bottom: 0.8rem;
  }
  .footer__location {
    font-size: 0.95rem;
    padding-bottom: 0.8rem;
  }
  .footer__email {
    font-size: 0.95rem;
    padding-bottom: 1rem;
  }
  .footer__copyright {
    font-size: 0.85rem;
  }
  .footer__row--one {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .footer__row--one--logo {
    flex-grow: 1;
  }
  .footer__row--one--column {
    width: 28%;
  }
  .footer__logo {
    float: right;
  }
  .footer__row--two {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .footer__row--two--column {
    width: 28%;
  }
  .footer__top {
    display: block;
  }
  .footer__bottom {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__logo {
    padding-left: 8rem;
  }
  .main-nav__item--margin {
    margin-left: 1.9rem;
  }
  .main-nav__item--active {
    border-bottom: 0.15rem solid #ffffff;
    color: #ffffff;
  }
  .hero {
    height: 39rem;
  }
  .hero__title {
    padding-left: 7rem;
  }
  .hero__album {
    padding-left: 7rem;
  }
  .hero__music-player {
    padding-left: 7rem;
  }
  .footer__row--one {
    margin: 0 7rem 0 7rem;
  }
  .footer__row--two {
    margin: 0 7rem 0 7rem;
  }
  .footer__row--three {
    margin: 0 7rem 0 7rem;
  }
}/*# sourceMappingURL=shows.css.map */