@use "./partials/variables" as *;
@use "./partials/fonts" as *;

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

// <-----THIS IS THE MOBILE SECTION-----> //
.main-nav {
  background-color: $bg-color-dark-grey;
  color: $font-color-mercury;
  text-align: center;

  &__logo {
    width: 7rem;
    padding: 1rem 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  &__item {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    list-style-type: none;
    color: $font-color-mercury;

    &:hover {
      border-bottom: 0.2rem solid $font-color-white;
      color: $font-color-white;
    }
    &--active {
      border-bottom: 0.2rem solid $font-color-white;
      color: $font-color-white;
    }
  }
}

// <-----THIS IS THE HERO SECTION-----> //

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 17rem;

  &__album {
    font-size: 1.45rem;
    color: $font-color-white;
    padding-left: 1rem;
    margin: 2rem 0 0 0;
  }

  &__title {
    color: $font-color-white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
  }
  &__music-container {
  }
  &__music-player {
    height: 6rem;
    width: 18rem;
    padding-left: 1rem;
  }
}

// <-----THIS IS THE SHOWS SECTION-----> //

.ticket {
  margin: 1rem;
}

// <-----THIS IS THE FOOTER SECTION-----> //

.footer {
  background-color: $bg-color-dark-grey;
  color: $font-color-white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &__icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  &__top {
    display: none;
  }
  &__bottom {
    display: block;
  }

  &__title {
    margin: 0.3rem 0rem 1rem 0;
    font-size: 1.5rem;
    font-weight: normal;
  }
  &__name {
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.2rem;
  }
  &__location {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $font-color-mercury;
  }
  &__email {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $font-color-mercury;
    text-decoration: none;
  }

  &__copyright {
    font-size: 0.75rem;
    color: $font-color-mercury;
  }
}

// -------------------------------------------------------------------------//

// <-----THIS IS THE MEDIA SECTION-----> //
// <-------------TABLET----------------> //

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: end;
    &__logo {
      padding: 1.4rem 0 1.4rem 2.3rem;
    }
    &__item {
      margin-left: 4rem;
      padding-bottom: 1.7rem;
    }
  }

  .hero {
    height: 30.5rem;
    &__title {
      font-size: 3.4rem;
      padding-left: 2.5rem;
    }
    &__album {
      padding-left: 2.5rem;
    }
    &__music-player {
      padding-left: 2.5rem;
      height: 8.8rem;
      width: 26rem;
    }
  }
  .footer {
    padding: 2rem;
    &__title {
      font-size: 2rem;
      font-weight: bold;
    }
    &__name {
      font-size: 1rem;
      padding-bottom: 0.8rem;
    }
    &__location {
      font-size: 0.95rem;
      padding-bottom: 0.8rem;
    }
    &__email {
      font-size: 0.95rem;
      padding-bottom: 1rem;
    }
    &__copyright {
      font-size: 0.85rem;
    }
    &__row {
      &--one {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        &--logo {
          flex-grow: 1;
        }
        &--column {
          width: 28%;
        }
      }
    }
    &__logo {
      float: right;
    }
    &__row {
      &--two {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        &--column {
          width: 28%;
        }
      }
    }
    &__top {
      display: block;
    }
    &__bottom {
      display: none;
    }
  }
}

// // <-------------DESKTOP----------------> //

@media (min-width: 1280px) {
  .main-nav {
    &__logo {
      padding-left: 8rem;
    }
    &__item {
      &--margin {
        margin-left: 1.9rem;
      }
      &--active {
        border-bottom: 0.15rem solid $font-color-white;
        color: $font-color-white;
      }
    }
  }

  .hero {
    height: 39rem;
    &__title {
      padding-left: 7rem;
    }
    &__album {
      padding-left: 7rem;
    }
    &__music-player {
      padding-left: 7rem;
    }
  }

  .footer {
    &__row {
      &--one {
        margin: 0 7rem 0 7rem;
      }
      &--two {
        margin: 0 7rem 0 7rem;
      }
      &--three {
        margin: 0 7rem 0 7rem;
      }
    }
  }
}
