@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

// <-------------HERO----------------> //

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 17rem;
  @include tablet {
    height: 30.5rem;
  }
  @include desktop {
    height: 40rem;
  }

  &__album {
    font-size: 0.9rem;
    color: $font-color-white;
    padding-left: 1rem;
    margin: 2rem 0 0 0;
    @include tablet {
      padding-left: 2.5rem;
      margin-top: 3.7rem;
      font-size: 1.4rem;
    }
    @include desktop {
      font-size: 1.8rem;
      padding-left: 7rem;
      margin-top: 0;
    }
  }

  &__title {
    color: $font-color-white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
    width: 70%;
    @include tablet {
      font-size: 3.2rem;
      padding-left: 2.5rem;
      margin-top: 1rem;
      width: 70%;
    }
    @include desktop {
      padding-left: 7rem;
      width: 35%;
    }
  }

  @include desktop {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 1rem;
    }
  }

  &__music-container {
    margin: 0;
    width: 100%;
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__music-player {
    height: 6rem;
    width: 18rem;
    padding-left: 1rem;
    @include tablet {
      padding-left: 2.5rem;
      height: 8.8rem;
      width: 26rem;
    }
    @include desktop {
      padding-left: 7rem;
    }
  }
}

// <-------------HERO END----------------> //

// <-------------CONTENT----------------> //

#tickets {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    display: flex;
    padding: 3.5rem 9rem 2rem 9rem;
  }
}

#content {
  @include desktop {
    flex-grow: 1;
  }
}

.title {
  @include tablet {
    font-size: 2rem;
    margin: 1rem 0 3rem 0;
  }
  @include desktop {
    width: 25%;
    margin: -0.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-bottom: 0.1rem solid $bg-color-mercury;
  margin: 0;
  padding: 0;
  @include tablet {
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 0 0.4rem 0;
  }

  &__container {
    @include tablet {
      width: 25%;
    }
  }
  &__default-container {
    font-weight: bold;
    display: none;
    list-style-type: none;
    @include tablet {
      display: flex;
      margin: 0;
      padding: 0;
    }
    &--secondary {
      font-weight: bold;
      display: block;
      color: $font-color-silver;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 0.85rem;
      padding-top: 0.7rem;
    }
  }

  &__selected {
    background-color: $bg-color-mercury;
  }

  &:not(.content__selected):hover {
    background-color: $bg-color-light-grey;
  }

  &__card-header {
    font-weight: bold;
    display: block;
    color: $font-color-silver;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding-top: 0.7rem;

    @include tablet {
      display: none;
    }
  }

  &__card-data {
    font-size: 0.8rem;
    color: $font-color-dark-grey;
    padding: 0.4rem 0 0.4rem 0;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__button-container {
    float: right;
  }

  &__button {
    background-color: $bg-color-dark-grey;
    color: $font-color-white;
    font-family: "AvenirNext LT Pro";
    font-size: 0.85rem;
    border: none;
    border-radius: 0.25rem;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
    padding: 0.7rem;
    text-transform: uppercase;
    @include tablet {
      width: 9.2rem;
      float: right;
    }
  }
}

// <-------------CONTENT END----------------> //
