@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

// <-------------HERO----------------> //

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 17rem;
  @include tablet {
    height: 34rem;
  }
  @include desktop {
    height: 44rem;
  }

  &__album {
    font-size: 0.9rem;
    color: $font-color-white;
    padding-left: 1rem;
    margin: 2rem 0 0 0;
    @include tablet {
      padding-left: 2.5rem;
      margin-top: 3.7rem;
      font-size: 1.6rem;
    }
    @include desktop {
      font-size: 1.8rem;
      padding-left: 7rem;
      margin-top: 0;
    }
  }

  &__title {
    color: $font-color-white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
    @include tablet {
      font-size: 4rem;
      padding-left: 2.5rem;
      margin-top: 1rem;
    }
    @include desktop {
      padding-left: 7rem;
    }
  }

  @include desktop {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 1rem;
    }
  }

  &__music-container {
    margin: 0;
    width: 100%;
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__music-player {
    height: 6rem;
    width: 18rem;
    padding-left: 1rem;
    @include tablet {
      padding-left: 2.5rem;
      height: 8.8rem;
      width: 26rem;
    }
    @include desktop {
      padding-left: 7rem;
    }
  }
}

// <-------------HERO END----------------> //

// <-------------SHOWS----------------> //
#ticketsTable {
  width: 100%;
  tr:not(:first-child) {
    &:hover {
      background-color: $bg-color-light-grey;
    }
    &.selected {
      background-color: $bg-color-mercury;
    }
  }
  @include tablet {
    border-collapse: collapse;
    td {
      border-bottom: 0.1rem solid $bg-color-mercury;
    }
    tr {
      &:not(:first-child) {
        th {
          display: none;
        }
      }
    }
  }
  @include desktop {
    width: 70%;
  }
}

.ticket {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    flex-direction: row;
    padding: 2rem 9rem 2rem 9rem;
  }
  &__column {
    @include tablet {
      display: none;
    }
  }
  &__row {
    display: none;
    @include tablet {
      display: table-cell;
    }
  }
  &__header {
    margin: 1.8rem 0 0.75rem 0;
    @include desktop {
      width: 30%;
      font-size: 2.5rem;
      margin-top: 0;
    }
  }
  &__title {
    color: $font-color-silver;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.65rem;
    padding-top: 0.8rem;
    @include tablet {
      font-size: 0.8rem;
    }
  }
  &__date {
    font-size: 0.8rem;
    color: $font-color-dark-grey;
    font-weight: bold;
    padding: 0.4rem 0 0.4rem 0;
    @include tablet {
      font-size: 0.95rem;
    }
  }
  &__content {
    font-size: 0.8rem;
    color: $font-color-dark-grey;
    padding: 0.4rem 0 0.4rem 0;
    @include tablet {
      font-size: 0.95rem;
    }
  }

  &__button-container {
    border-bottom: 0.1rem solid $bg-color-mercury;
  }
  &__button {
    background-color: $bg-color-dark-grey;
    color: $font-color-white;
    font-family: "AvenirNext LT Pro";
    font-size: 0.85rem;
    border: none;
    border-radius: 0.25rem;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
    padding: 0.6rem;
    text-transform: uppercase;
  }
}

// <-------------SHOWS END----------------> //
